<div class="upload-page">

<div class="">
	<%=  link_to medal_path, class: "btn-lg" do %>
		<i class="fa fa-trophy" aria-hidden="true"></i> <%= "成就 GET!" %>
	<% end %>	
</div>

<div class="mt">
	<%= form_tag(upload_score_path, method: "post") do %>
		<div>
			<%= label_tag "aaa" do %>			
				<%= radio_button_tag :result, "win", true, id: "aaa" %> <span class="fantasy  lg">WIN!!</span>
			<% end %>
		</div>
		<div class="mt">
			<%= label_tag "bbb" do %>			
				<%= radio_button_tag :result, "lose", false, id: "bbb" %> <span class="fantasy lg">LOSE..</span>
			<% end %>	
		</div>

		<div class="mt">
<!-- 			<%= label_tag :score %>
 -->			<%= number_field_tag(:score, nil, class: "form-control") %>
		</div>	
		<%= button_tag(type: "submit", class: "btn btn-2 mt") do %>
			<i class="fa fa-upload" aria-hidden="true"></i> 上傳
		<% end %>
	<% end %>
	<%= show_result %>
</div>

</div>
