<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-list">
				<i class="fa fa-th-list" aria-hidden="true"></i>
			</button>
			<%= link_to root_path, class: "navbar-brand" do %>	
				<%= "Home" %> <i class="fa fa-share" aria-hidden="true"></i>
			<% end %>			
		</div>


		<div class="collapse navbar-collapse" id="nav-list">
			<ul class="nav navbar-nav navbar-right">		
				<% if current_user %>
<!-- 					<li><%= link_to "#{current_user.name}！ 錢帶夠嗎？ ", "" %></li>
 -->			<li><%= join_and_quit_game %></li>
					<li>
						<%= link_to info_path do %>
							<i class="fa fa-trophy" aria-hidden="true"></i>
							<%= " 積分/成就 ( #{current_user.name} )" %>
						<% end %>
					</li>
					<li><%= link_to "個人戰績", records_path %></li>
					<li><%= link_to "大賽規則", "#" %></li>
					<li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
				<% else %>
					<li><%= link_to "登入", new_user_session_path %></li>
					<li><%= link_to "報名", new_user_registration_path %> </li>
				<% end %>
			</ul>
		</div>
	</div>	
</nav>

